@import "tailwindcss";

::-webkit-scrollbar {
    display: none;
  }
  * {
    scrollbar-width: none;
  }
  * {
    -ms-overflow-style: none;
}

body{
    background:linear-gradient(135deg, #0f0f0f, #1a1a2e);
}


.glass {
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Apply background blur */
    border-radius: 15px; /* Rounded corners */
    padding: 20px; /* Inner spacing */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Soft shadow for depth */
    border: 1px solid rgba(43, 43, 43, 0.2);
    margin: 20px;
    color: white;
}

.scrollable-card {
    height: 600px; /* Fixed height */
    overflow-y: hidden;
}


.raleway{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    /* color: #ccc; */
}
.bebes{
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}


card-hover:hover img{
    transform: scale(1.5);
    transition: transform 0.1s ease-in-out;
}

.titleA{
    font-family: sans-serif;
    font-weight: 600;
    text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 15px #ff00ff;
}

